<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="testCases.CarrierTest"/>
      <class name="testCases.ManageAreaTest"/>
      <class name="testCases.StateTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
